/*Css of portfolio.html*/
html {
	background-color: rgb(243, 243, 243);
}

#header {
	min-width: 1500px;
	
	z-index:1;
	position: fixed;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: 70px auto;
	grid-template-rows: 100%;
	height: 70px;
	width: 100%;
	background-color: rgb(243, 243, 243);
	border-bottom: 1px solid rgb(104, 104, 104);
}

#logo {
	position: relative;
	grid-column: 1;
	grid-row: 1;
	height: 100%;
	width: 100%;
}

#logo * {
	position: absolute;
	top: 0px;
	left: 0px;
}

#logo img {
	grid-column: 1;
	grid-row: 1;
	object-fit: fill;
	height: 100%;
	width: 100%;
}

#logo a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#menu {
	display: flex;
	margin-left: auto;
	grid-column: 2;
	grid-row: 1;
	height: fit-content;
	width: fit-content;
	margin-top: 15px;
	background-color: rgb(255, 255, 255);
}

#menu div {
	height: 80%;
	width: fit-content;
	margin-right: 40px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu a {
	display: flex;
	color: black;
	font: bold 25px "Fira Sans", serif;
	width: 100%;
	height: 100%;
}

#menu div:hover {
	border-radius: 20px;
	background-color: rgba(255, 186, 234);
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

#main {
	position: absolute;
	top: 90px;
	margin-top: 0px;
	margin-left: 15%;
	margin-right: 15%;
	height: fit-content;
	width: 70%;
	background-color: rgb(238, 238, 238);
}

#main img {
	object-fit: contain;
	width: 100%;
	height: auto;
}

#main img:not(:first-child) {
	margin-top: 10px;
}